ALTER SESSION SET "_ORACLE_SCRIPT"=true; 
CREATE USER appdeploy IDENTIFIED BY appdeploy;
GRANT CONNECT TO appdeploy;
GRANT CONNECT, RESOURCE, DBA TO appdeploy;
GRANT CREATE SESSION TO appdeploy;
GRANT ALL PRIVILEGES TO appdeploy;
EXIT;